<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="serb">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>{{1+1}}</p>
    <script src="angular.min.js"></script>
    <script src="/javascripts/angularjs/app.js"></script>
  </body>
</html>
